 {{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}

<h1>Burgers Available</h1>
<h2>{{text}}</h2>
<h2>{{burger1}}</h2>
 {{!-- <ul>
{{#each burgers }}
  <li>{{burger_name}}</li>
  <li>{{devoured}}</li>
  <li>{{date}}</li>
{{/each}}
</ul>  --}}

